.notesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notesGrid {
    width: 100%;
}

.noteCard {
    background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);

}
.cardText {
    white-space: pre-line;
}